

.header{
    width: 100%;
    height: 90vh;
    color: #ffffff;
    background: linear-gradient(to right,rgba(46, 46, 48, 0.9),rgba(50, 91, 165, 0.5)),url(/img/yogesh.jpg);
    background-size: cover;
    /* "https://images.pexels.com/photos/574071/pexels-photo-574071.jpeg?cs=srgb&dl=pexels-lukas-574071.jpg&fm=jpg" */
}

.h-100{
    width: 100%;
    height: 100%;
}
.btn{
    border-radius: 10rem!important;
    padding: 1.25rem 2.24rem;
}

body{
    font-family: 'Old Standard TT', serif;

}

.message{
    background: linear-gradient(to right ,rgba(197, 80, 80, 0.9),rgba(103, 218, 32, 0.5));
}
.myicon{
    font-size: 60px;
    padding: 20px;
}

.navbar{
    position:fixed;
    width:100%;
    z-index: 1000000;
    top:0;
}